
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>StripeBucks orders list</title>
    <link rel="stylesheet" href="/tinydemos.css" />
  </head>
  <body >
      <h1>Stripe cafe orders</h1>
        {{{body}}}
  </body>
</html>
