
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

* {
	box-sizing: border-box;
}

body {
	--h: 212deg;
	--l: 43%;
	--brandColor: hsl(var(--h), 71%, var(--l));
	font-family: Montserrat, sans-serif;
	margin: 0;
	background-color: whitesmoke;
}

.outer {
  display: flex;
  align-items: start;
  justify-content: center;
}
p {
	margin: 0;
	line-height: 2;
  position: relative;

}
p::before {
	margin: 0rem;
  padding: 0;
  position: absolute; 
  top: 0;
  left: 0;
  background-image: url("coffeecup.svg");
  background-size: 20px 100%;
  background-position: left center;
  display: inline-block;
  width: 20px; 
  height: 100%;
  margin-left: -22px;
  margin-top: -3px;
  content:"";
}

ol {
	list-style: none;
  float: left;
  width: 50%;
	counter-reset: list;
	padding: 1rem 1rem;
}

ol:before{
  content:attr(aria-label);
  font-size:200%;
  font-weight:bold;
  text-align: center; 
  display:block; 

}

li {
	--stop: calc(100% / var(--length) * var(--i));
	--l: 62%;
	--l2: 88%;
	--h: calc((var(--i) - 1) * (180 / var(--length)));
	--c1: hsl(var(--h), 71%, var(--l));
	--c2: hsl(var(--h), 71%, var(--l2));
	
	position: relative;
	counter-increment: list;
	max-width: 70rem;
	margin: 1rem auto;
	padding: 1rem 1rem 1rem;
	box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
	border-radius: 0.25rem;
	overflow: hidden;
	background-color: white;
  cursor: pointer;
}
li:hover {
	background-color: whitesmoke;
}

li::before {
	content: '';
	display: block;
	width: 100%;
	height: 1rem;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to right, var(--c1) var(--stop), var(--c2) var(--stop));
}

h2 {
  font-size: 3.25rem;
  margin: 0rem;
  padding: 0rem;
  display: flex;
  align-items: center;
  margin: 0 0 0rem;
  color: rgb(70 70 70);
}
h3 {
	display: flex;
	align-items: baseline;
	margin: 0 0 1rem;
	color: rgb(70 70 70);
}

h3::before {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
	margin-right: 0.5rem;
	width: 1.5rem;
	height: 1.5rem;
	content: counter(list);
	padding: 0rem;
	border-radius: 50%;
	background-color: var(--c1);
	color: white;
}

.right{
  float: right;
  width: 50%;
}

@media (min-width: 60em) {
	li {
		margin: 0.2rem auto;
		padding: 1.5rem 1rem 0.5rem;
	}
	
	h3 {
		font-size: 1.25rem;
		margin: 0rem;
    padding: 0rem;
	}
  
	
	h3::before {
		margin-right: 1rem;
	}

  h1 {
		font-size: 5.25rem;
		margin: 0 0 2rem;
    text-align: center;
	}
	
	h1::before {
		margin-right: 3rem;
	}
}